.wishlist_item {
  display: grid;
  width: 100%;
  font-size: 2rem;
  grid-template-columns: 50% 30% 10% 5% 5%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 2px;
}

.wishlist_input {
  background: none;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 2rem;
}

.wishlist_input:focus {
  border: 2px solid #8bb5f5;
  color: rgb(97, 96, 96);
  font-weight: 500;
  outline: none;
}

select {
  background: none;
  border: none;
  font-size: 0.9em;
  outline: none;
}

.wishlist_delete,
.wishlist_handler {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.uncommon {
  background-color: rgb(131, 184, 131);
}

.rare {
  background-color: rgb(154, 215, 255);
}

.epic {
  background-color: rgb(190, 119, 190);
}

.legendary {
  background-color: rgb(238, 191, 104);
}

.other {
  background-color: rgb(206, 206, 206);
}

.wishlist_add_button {
  $dimension: 50px;
  margin-top: 5px;
  height: $dimension;
  width: $dimension;
  background: none;
  border: none;
  font-size: 2rem;
}

.wishlist_data {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 50%;
  margin: auto;
  margin-top: 25px;
}
