@import './../../global.scss';

.wishlist_view {
  width: 100%;
  margin-top: 14px;

  h3,
  h4 {
    color: $background-color;
  }

  h3 {
    margin-bottom: 5px;
  }
}

.wishlist_columns {
  display: grid;
  grid-template-columns: 140px 70px auto;
  padding-left: 5px;
}

.wislist_labels {
  padding-left: 5px;
}

.wishlist_item {
  background: $background-color;
  color: $secondary-color;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 2px;

  input {
    color: $secondary-color;
  }
}

.wishlist_input {
  background: none;
  border: 2px solid transparent;
  font-size: 1.25rem;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 25px;
}

.wishlist_input:focus {
  border-bottom: 2px solid $secondary-color;
  color: rgb(97, 96, 96);
  font-weight: 500;
  outline: none;
}

select {
  background: none;
  border: none;
  font-size: 0.9em;
  outline: none;
}

.wishlist_delete,
.wishlist_handler {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.wishlist_add_button {
  $dimension: 50px;
  margin-top: 5px;
  height: $dimension;
  width: $dimension;
  background: none;
  border: none;
  font-size: 2rem;
}
