@import "./../../global.scss";

.wishlist_view {
  width: 100%;
  margin-top: 14px;
}

.wishlist_item {
  background: $background-color;
  color: $secondary-color;
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: 100px 80px auto auto;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 2px;

  input {
    color: $secondary-color;
  }
}

.wishlist_input {
  background: none;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 1.5rem;
}

.wishlist_input:focus {
  border: 2px solid #8bb5f5;
  color: rgb(97, 96, 96);
  font-weight: 500;
  outline: none;
}

select {
  background: none;
  border: none;
  font-size: 0.9em;
  outline: none;
}

.wishlist_delete,
.wishlist_handler {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.wishlist_add_button {
  $dimension: 50px;
  margin-top: 5px;
  height: $dimension;
  width: $dimension;
  background: none;
  border: none;
  font-size: 2rem;
}

.wishlist_data {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin: auto;
  margin-top: 25px;
}
