@import './../../global.scss';

.overview {
  display: grid;
  grid-template-columns: 55% 45%;
  padding: 10px;
}

.overview_body {
  padding: 10px;
}

.overview_row {
  display: flex;

  h5 {
    font-family: $body-font;
    font-size: 16px;
    font-weight: normal;
  }

  p {
    text-align: right;
    flex: 1;
    font-weight: normal;
  }
}

.countdown {
  color: $accent-color;
  text-align: center;
  font-family: $title-font;
  font-weight: bold;
  align-self: center;
}

.end_of_season_date {
  margin-bottom: -20px;
}

.days_remaining {
  font-size: 120px;
}

.left_label {
  margin-top: -20px;
}

.progress_bar {
  $height: 22px;
  $font-size: 16px;
  position: relative;
  height: $height;
  width: 60%;
  background: $module-background-color;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  overflow: hidden;

  .completed_bar {
    height: $height;
    background-color: $accent-color;
  }

  .blend_layer {
    height: $height;
    color: $accent-color;
  }

  .progress_text {
    position: absolute;
    top: 0px;
    height: $height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $body-font;
    font-weight: normal;
    font-size: $font-size;
    color: $background-color;
  }
}

@media screen and (max-width: 414px) {
  .overview {
    grid-template-columns: auto;
  }
}
