@import '../../../global.scss';

.account_manager {
  display: flex;

  > * {
    margin: auto 2px;
  }
}

.dropdown_container {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  width: 100px;
  top: 100%;
  right: 0px;
  padding: 10px;
  background: $module-background-color;
  display: none;

  .link {
    text-align: center;
    cursor: pointer;
  }

  .logout_link {
    color: #ff652f;
  }
}

.droppeddown {
  display: block;
  z-index: 100;
}
