@import '../../../global.scss';

.day_view {
  color: $secondary-color;
  border-radius: 5px;
}

.thursday .date {
  color: $accent-color;
}

.date {
  font-family: $title-font;
  font-size: 25px;
}

.timeline_vbucks,
.timeline_level,
.timeline_change {
  font-family: $body-font;
  font-weight: normal;
  font-size: 20px;
  display: flex;
  align-items: flex-end;
}

.battlepass_unlocks {
  grid-column: 1 / -1;

  h5 {
    margin: 15px 0;
    color: $module-background-color;
    font-family: 'Rubik';
    font-weight: normal;
  }
}

.item_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.battlepass_item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 14pt;

  .item_level {
    grid-row: span 2;
    align-self: center;
  }

  .item_details {
    align-self: center;
  }

  .item_name {
    font-size: 10pt;
  }

  .item_type {
    font-size: 8pt;
  }
}

.divider {
  background: $module-background-color;
  height: 1px;
  grid-column: 1 / -1;
  margin-top: 25px;
}

.label_row .divider {
  margin-top: 10px;
}
