@import '../../global.scss';

.mode_section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-radius: 10px;

  h3,
  h4 {
    color: $secondary-color;
  }

  input {
    height: 33px;
    border-radius: 8px;
    font-size: 20px;
    padding: 9px 5px;
    border: none;
    background: $background-color;
    color: $secondary-color;
  }

  .mode_title {
    text-transform: uppercase;
    grid-column: 1 / -1;
    margin-bottom: 5px;
  }
}

.stw_section {
  margin-bottom: 20px;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.vbucks_section {
  grid-column: auto / span 2;
  width: 240px;
  margin-bottom: 15px;
}

.dailies_section,
.level_section,
.login_day_section,
.playtime_xp_section,
.mission_alerts_section,
.experience_section,
.average_alerts_section,
.unfinished_xp_section {
  width: 114px;
}

.dailies_section,
.login_day_section,
.level_section,
.playtime_xp_section {
  justify-self: flex-start;
}

.mission_alerts_section,
.average_alerts_section,
.experience_section,
.unfinished_xp_section {
  justify-self: flex-end;
}

.label_header {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 2px 0px;
}

@media screen and (max-width: 414px) {
  .input_container {
    margin-bottom: 20px;
  }

  .vbucks_section {
    width: auto;
  }

  .dailies_section,
  .level_section,
  .login_day_section,
  .playtime_xp_section,
  .mission_alerts_section,
  .experience_section,
  .average_alerts_section,
  .unfinished_xp_section {
    width: auto;
  }

  .mode_section {
    display: block;
  }

  .label_header {
    margin-bottom: 5px;

    h4 {
      font-size: 18px;
      align-self: flex-end;
    }
  }
}
