@import '../../global.scss';

.mode_section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-radius: 10px;

  h3,
  h4 {
    color: $background-color;
    text-align: left;
  }

  h3 {
    font-family: $title-font;
    font-size: 20px;
  }

  h4 {
    font-weight: normal;
    font-size: 10pt;
  }

  input {
    height: 33px;
    border-radius: 8px;
    font-size: 20px;
    padding: 9px 5px;
    border: none;
    background: $background-color;
    color: $secondary-color;
  }

  .mode_title {
    text-transform: uppercase;
    grid-column: 1 / -1;
    margin-bottom: 5px;
  }
}

.stw_section {
  margin-bottom: 20px;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.vbucks_section {
  grid-column: auto / span 2;
  width: 240px;
}

.dailies_section,
.level_section,
.login_day_section,
.extra_xp_section,
.mission_alerts_section,
.experience_section,
.average_alerts_section,
.unfinished_xp_section {
  width: 114px;
}

.dailies_section,
.login_day_section,
.level_section,
.extra_xp_section {
  justify-self: flex-start;
}

.mission_alerts_section,
.average_alerts_section,
.experience_section,
.unfinished_xp_section {
  justify-self: flex-end;
}

.day_select_section {
  grid-column: 1 / -1;

  h3 {
    font-size: 12pt;
  }
}

$day-border-color: #737373;

.day_select_wrapper {
  display: flex;
  border-radius: 4px;
  border: 1px solid $day-border-color;
  width: 240px;
  border-radius: 8px;
  overflow: hidden;
}

.day_button {
  $dimension: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $dimension;
  height: $dimension;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-right: 1px solid black;
  cursor: pointer;
}

.day_button:nth-of-type(7) {
  border-right: 0px;
}

.punch_card_day:focus {
  outline: none;
}

.day {
  background-color: $background-color;
  color: $module-background-color;
  border-right: 1px solid;
}

.day_on {
  color: $accent-color;
  border-color: $module-background-color;
}

.label_header {
  $info-button-dimension: 15px;
  $message-box-width: 150px;
  display: grid;
  grid-template-columns: auto $info-button-dimension;

  .info_button_section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .info_button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background: $background-color;
    color: $module-background-color;
    border-radius: 10px;
    width: $info-button-dimension;
    height: $info-button-dimension;
    cursor: default;
    font-size: 8pt;
  }

  .message_box {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    background: black;
    color: white;
    border-radius: 10px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    font-size: 10pt;
    text-align: left;
  }

  .messageOpen {
    animation: openMessage 0.1s both;
    animation-direction: alternate;
  }

  @keyframes openMessage {
    from {
      width: 0px;
      height: 0px;
    }
    to {
      padding: 10px;

      width: $message-box-width;
      height: auto;
    }
  }
}
