.input_view {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input_container {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.vbucks_section {
  grid-column: 1 / 3;
}

.dailies_section,
.level_section,
.login_day_section,
.extra_xp_section {
  grid-column: 1 / 1;
}

.mission_alerts_section,
.experience_section,
.sync_date_section,
.unaccounted_xp_section {
  grid-column: 2 / 2;
}

.day_select_section {
  grid-column: 1 / 5;
  margin: auto;

  h3 {
    font-size: 12pt;
  }
}

$day-border-color: #737373;

.day_select_wrapper {
  display: flex;
  border-radius: 4px;
  border: 1px solid $day-border-color;
}

.day_button {
  $dimension: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $dimension;
  height: $dimension;
  font-size: 0.75em;
  font-weight: 700;
  border: none;
  border-right: 1px solid black;
  cursor: pointer;
}

.day_button:nth-of-type(7) {
  border-right: 0px;
}

.punch_card_day:focus {
  outline: none;
}

.day {
  border-color: $day-border-color;
}

.day_on {
  background-color: #6fac6f;
  color: #026a02;
}

.day_off {
  background-color: rgb(196, 196, 196);
  color: #737373;
}

.label_header {
  $info-button-dimension: 15px;
  $message-box-width: 150px;
  display: grid;
  grid-template-columns: auto $info-button-dimension;

  label {
    text-align: left;
  }

  .info_button_section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .info_button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background: #19098c;
    color: white;
    border-radius: 10px;
    width: $info-button-dimension;
    height: $info-button-dimension;
    cursor: default;
    font-size: 8pt;
  }

  .message_box {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    background: black;
    color: white;
    border-radius: 10px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    font-size: 10pt;
    text-align: left;
  }

  .messageOpen {
    animation: openMessage 0.1s both;
    animation-direction: alternate;
  }

  @keyframes openMessage {
    from {
      width: 0px;
      height: 0px;
    }
    to {
      padding: 10px;

      width: $message-box-width;
      height: auto;
    }
  }
}
