@import '../../global.scss';

.mode_section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-radius: 10px;

  h3,
  h4 {
    color: $background-color;
  }

  input {
    height: 33px;
    border-radius: 8px;
    font-size: 20px;
    padding: 9px 5px;
    border: none;
    background: $background-color;
    color: $secondary-color;
  }

  .mode_title {
    text-transform: uppercase;
    grid-column: 1 / -1;
    margin-bottom: 5px;
  }
}

.stw_section {
  margin-bottom: 20px;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.vbucks_section {
  grid-column: auto / span 2;
  width: 240px;
  margin-bottom: 15px;
}

.dailies_section,
.level_section,
.login_day_section,
.extra_xp_section,
.mission_alerts_section,
.experience_section,
.average_alerts_section,
.unfinished_xp_section {
  width: 114px;
}

.dailies_section,
.login_day_section,
.level_section,
.extra_xp_section {
  justify-self: flex-start;
}

.mission_alerts_section,
.average_alerts_section,
.experience_section,
.unfinished_xp_section {
  justify-self: flex-end;
}

.day_select_section {
  grid-column: 1 / -1;

  h3 {
    font-size: 12pt;
  }
}

.day_select_wrapper {
  display: flex;
  border-radius: 4px;
  width: 240px;
  border-radius: 8px;
  overflow: hidden;
}

.day_button {
  $dimension: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $dimension;
  height: $dimension;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.punch_card_day:focus {
  outline: none;
}

.day {
  background-color: $background-color;
  color: $module-background-color;
}

.day_on {
  background-color: $accent-color;
  color: $secondary-color;
}

.label_header {
  display: grid;
  grid-template-columns: auto 1fr;
}
