@import './../../global.scss';

header {
  grid-column: 1 / -1;
  display: flex;

  h1 {
    text-transform: uppercase;
    color: $accent-color;
    font-family: $title-font;
    font-size: 40px;
    margin-top: 20px;
    flex-grow: 1;
  }

  .login_link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 414px) {
  header h1 {
    font-size: 30px;
    text-align: center;
  }
}
