@import './../../global.scss';

header {
  grid-column: 1 / -1;

  h1 {
    text-transform: uppercase;
    color: $accent-color;
    font-family: $title-font;
    font-size: 40px;
    margin-top: 20px;
  }
}
