@import './../../global.scss';

.timeline_view {
  width: 615px;

  h1 {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}

.label_row {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: $background-color;
  font-size: 14px;
}

.timeline_row {
  display: grid;
  grid-template-columns: 250px 100px 100px auto;
  font-size: 1.25rem;
  margin-bottom: 10px;
  padding: 10px;
}

.timeline_view .day_view:last-child .divider {
  display: none;
}

@media screen and (max-width: 414px) {
  .timeline_view {
    width: auto;
  }

  .label_row {
    font-size: 0.75em;
  }

  .timeline_row {
    grid-template-columns: auto 50px 40px 50px;
  }
}
