@import '../../../../global.scss';

.day_select_section {
  grid-column: 1 / -1;
  margin-bottom: 10px;

  h3 {
    font-size: 12pt;
  }
}

.day_select_wrapper {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  border-radius: 4px;
  width: 240px;
}

.day_button {
  $dimension: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $dimension;
  width: $dimension;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.day {
  background: none;
  color: $secondary-color;
}

.day_on {
  background-color: $accent-color;
  color: $secondary-color;
}

.select_button {
  $dimension: 15px;
  position: relative;
  height: $dimension;
  width: $dimension;
  border: 2px solid $accent-color;
  border-radius: $dimension;
}

.select_button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select_button::before,
.select_button::after {
  position: absolute;
  background-color: $secondary-color;
  content: ' ';
  height: 4px;
}

.turned_on::before {
  bottom: 3px;
  left: -2px;
  width: 9px;
  transform: rotate(45deg);
}

.turned_on::after {
  width: 10px;
  transform: rotate(-45deg);
  left: 4px;
  bottom: 6px;
}

@media screen and (max-width: 414px) {
  .day_select_section {
    margin-left: auto;
    margin-right: auto;
  }

  .day_select_wrapper {
    width: 100%;
  }

  .select_button_wrapper {
    justify-content: flex-end;
  }

  .select_button {
    height: 30px;
    width: 30px;
  }

  .turned_on::before {
    bottom: 8px;
    left: -4px;
    width: 16px;
  }

  .select_button::before,
  .select_button::after {
    height: 7px;
  }

  .turned_on::after {
    width: 28px;
    left: 2px;
    bottom: 11px;
  }
}
