* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.control_panel {
  display: grid;
  grid-template-columns: 35% 54%;
  grid-gap: 10px;
  width: 1000px;
}

.card {
  padding: 1em;
  background: white;
  text-align: center;
  border-radius: 2px;
  color: #000;
  align-self: start;
}

.section:first-of-type {
  margin-top: 2em;
}

.section {
  margin-top: 1em;
  text-align: left;
}
