@import './global.scss';

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  background-color: $background-color;
  font-family: $body-font;
}

.App {
  display: grid;
  grid-template-columns: 260px auto;
  width: 1000px;
  min-height: 100vh;
  margin: auto;
  color: $secondary-color;
}

.control_panel {
  display: flex;
  flex-direction: column;
}

.card {
  background: $module-background-color;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  color: #000;
  align-self: start;
}

.section:first-of-type {
  margin-top: 2em;
}

.section {
  margin-top: 1em;
  text-align: left;
}

.uncommon {
  background-color: $uncommon-color;
}

.rare {
  background-color: $rare-color;
}

.epic {
  background-color: $epic-color;
}

.legendary {
  background-color: $legendary-color;
}

.other {
  background-color: $misc-rarity-color;
}
