$accent-color: #ff652f;
$secondary-color: #fff;
$module-background-color: #747474;
$background-color: #272727;

$uncommon-color: #35a768;
$rare-color: #3672e8;
$epic-color: #b93ae1;
$legendary-color: #e1aa40;
$misc-rarity-color: rgb(206, 206, 206);

$title-font: 'Rubik', sans-serif;
$body-font: 'Karla', sans-serif;
